.content {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    
}

.nav-left {
    display: flex;
    align-items: center;
    
}

.ny {
    width: 200px;
}

nav {
    height: 50px;
}

button {
    background-color: lightseagreen;
    width: 100px;
    
}

  .space {
      font-weight: bold;
      padding: 5px;
  }


 #menu {
     padding: 5px;
 }
.pic {
    
   
    height: 20px; 
    width: 35px;
    
     
}

.icons {
    display: flex;
    width: 20%;
    justify-content: space-around;
    margin: auto;
}

.social {
    border-radius: 50%;
    background-color: lightgrey;
    padding: 5px;
}
 .sect-img {
     
    width: 50%;
    
}
  .guth {
    display: flex;
    justify-content: center; 
  }
 .head {
    text-align: center; 
 }

 .fig {
     text-align: center;
 }


